*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ECF0F1;
    color: #424949;
   
    
}


.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 10px 0;
}

header{
   
   
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    
    z-index: 800;
    
 
}


#contenlogo{
    position: relative;
    width: 100%;
    
    text-align: center;
    height: 60px;
    
    border-bottom: 2px solid #ffffff64;
    background-color: rgba(0, 0, 0, 0.18);
    
    backdrop-filter: blur(1px);
    margin-right: 50px;
}


#contenlogo >.logo{
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    
   
}

nav{
    background-color: rgba(0, 0, 0, 0.18);
    position:relative;
    width: 100%;
    text-align: center;
    margin-top:0;
    padding: 20px 10px 20px 10px;
    backdrop-filter: blur(1px);
    
    }

   

nav >a{
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}

nav > a:not(:last-child):hover{
  color: #68E1FD;
  transition: .4s;
}


.contact-btn{
  display: inline-block;
  background: transparent;
  border: 2px solid #68E1FD ;
  padding: 9px 28px;
  border-radius: 30px;

}

.contact-btn:hover{
  background:#68E1FD;
  color: white;
}

.hero{
    background:url(../img/Banner1.jpg) fixed center/cover;
    height: 800px;
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;  
    margin: 0 -1.9% 0 -1.9%;  
    color: white;
}

.hero::before{
    position:absolute;
    content: "";
    height: 100%;
    width: 100%;
    background:#0b0b0b;
    opacity: 0.2;
}


.hero-textos{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
  

    position: relative;
    width: 100%;
    
   
    
    
}

.hero-textos .row-color-one{
    background-color:#CB45B9;
    margin-top: 50px;
    
    border-radius: 0px 0px 40px 0px;

    position: relative;
    width: 586.8px;
    height: 74.84px;

}
.hero-textos .row-color-two{
    background-color:#F4A800;
    margin-top: 50px;
    border-radius: 0px 40px 0px  0px;

    position: relative;
    width:700px;
    height: 74.84px;
}

.hero-textos >h1{
    text-align: left;
    padding-left: 60px;
    margin: 32px 0;
   
    
}

.row-gradient{
    background: linear-gradient(180deg, #ECF0F1 0%, rgba(255, 255, 255, 0) 100%);
    transform: rotate(-180deg);
    position: absolute;
    width: 100%;
    height: 50px;
    top: 94%;
}



/* aquí empieza la sección servicios*/


.services{
   
    width: 100%;
    height: 800px;
    padding-top: 150px;
    
   
    padding-bottom: 20px;
    

}

.services .subtitulo{
    text-align: center;
    font-weight: 700;
    font-size: 40px;

}
.services .texto-apoyo{
    text-align: center;
    font-weight: 400;
    font-size: 20px;

}


.contenedor-servicio{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 50px;
   
    display: flex;
    justify-content:space-between;
    align-self: center;
    
    overflow: hidden;
    
}

.light{
    font-weight: 300;
}

.orange{
  


    display: block;
    position:relative;
    width: 300px;
    height: 370px;
    background-color: #F95300;
    box-shadow: 5.99394px 5.13766px 5.99394px rgba(0, 0, 0, 0.25);
    border-radius: 0px 130.154px 0px 124.16px;
    color: #ffffff;
  
    padding: 40px 0 0 40px;
  
    
    text-decoration: none;
  }

  .orange:hover{
    background-color: #e44c00;

  }

  /* EMPIEZA MODAL 1 */
  
  .modal_proyectos{
    width: 100%;
    height: 100%;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms;
    z-index: 900;
  
  }
  
  .modal_proyectos:target{
    background-color: #F95300;
    visibility: visible;
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  
  .popup1{
    margin-top: 50px;
    width: 100%;
    max-width: 1231px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  
  }
  
  
.orange1{
  


    display: block;
    position:absolute;
    width: 300px;
    height: 450px;
    background-color: #F95300;
    box-shadow: 5.99394px 5.13766px 5.99394px rgba(0, 0, 0, 0.25);
    border-radius: 0px 130.154px 0px 124.16px;
    color: #ffffff;
  
    padding: 40px 0 0 40px;
  
    
    text-decoration: none;
  }


  .service-one-info{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    
    background: #f9f9f9;
    width: 100%;
    height:450px;
    padding: 0 50px 0 250px;
  
    
  box-shadow: 5.99394px 5.13766px 5.99394px rgba(0, 0, 0, 0.25);
  border-radius: 0px 130.154px 0px 124.16px;
  
  
  }
  
  .list{
    padding-top: 40px;
  }
  
  .list h2{
    font-weight: 700;
    font-size: 50px;
  
  
    
    color: #2B2B2B;
  
  }
  
  .service-one-info ul li span{
    padding: 10px;
  }

  ul{
    height: 100%;
    text-align:left;
    margin-top: 25%;
    line-height: 41px;
  
  
    font-weight: 400;
    font-size: 20px;
  
  /* or 179% */
  
  
  color: #2B2B2B;
  }
  
  .list >ul >li{
    font-weight: 400;
  font-size: 24px;
  line-height: 43px;
  /* or 179% */
  
  
  color: #2B2B2B;
  }
  
  .btn-close-popup1{
    width: 50px;
    height: 50px;
    position: absolute;
    right: -20px;
    top: -5px;
    
    background: white;
    color: #F95300;
    border: 10px solid #F95300;
    
    border-radius: 50%;
  
    text-align: center;
    font-size: 20px ;
    font-weight: 700;
    padding-top: 3px;
    
  
  }
  
  /* TERMINA MONDAL 1 */

  .yellow{
    display: block;
    position:relative;
    width: 300px;
    height: 370px;
    background-color: #F4A800;
    box-shadow: 5.99394px 5.13766px 5.99394px rgba(0, 0, 0, 0.25);
    border-radius: 0px 130.154px 0px 124.16px;
    color: #ffffff;
  
    padding: 40px 0 0 40px;
  
    
    text-decoration: none;
  }

  .yellow:hover{
    background-color: #e19b02;

  }
  
   /* EMPIEZA MODAL 2 */
  
   .modal_diseno{
    width: 100%;
    height: 100%;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms;
    z-index: 900;
  
  }
  
  .modal_diseno:target{
    background-color: #F4A800;
    visibility: visible;
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  
  .popup2{
    margin-top: 50px;
    width: 100%;
    max-width: 1231px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  
  }
  
  
  .service-two-info{
    display: flex;
    justify-content:space-between;
   
    
    background: #f9f9f9;
    width: 100%;
    height:450px;
   
  
    
    box-shadow: 5.99394px 5.13766px 5.99394px rgba(0, 0, 0, 0.25);
    border-radius: 0px 130.154px 0px 124.16px;
  
  }
  
  .left_text{
    width: 400px;
 
    padding: 60px 20px 0 50px;
    font-weight: 400;
    font-size: 25px;
  }
  
.yellow1{
  
    position:absolute;
    left: 450px;
    width: 300px;
    height: 450px;
    background-color: #F4A800;
    box-shadow: 5.99394px 5.13766px 5.99394px rgba(0, 0, 0, 0.25);
    border-radius: 0px 130.154px 0px 124.16px;
    color: #ffffff;
    padding: 40px 0 0 40px;
    text-decoration: none;
  }

.right_text{
    width: 400px;
    margin-top: 200px;
    margin-right: 30px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;

}
  
  
  .btn-close-popup2{
    width: 50px;
    height: 50px;
    position: absolute;
    right: -20px;
    top: -5px;
    
    background: white;
    color: #F4A800;
    border: 10px solid #F4A800;
    
    border-radius: 50%;
  
    text-align: center;
    font-size: 20px ;
    font-weight: 700;
    padding-top: 3px;
    
  
  }
  
  /* TERMINA MONDAL 2 */


  .purple{
    display: block;
    position:relative;
    width: 300px;
    height: 370px;
    background-color: #CB45B9;
    box-shadow: 5.99394px 5.13766px 5.99394px rgba(0, 0, 0, 0.25);
    border-radius: 0px 130.154px 0px 124.16px;
    color: #ffffff;
  
    padding: 40px 0 0 40px;
  
    
    text-decoration: none;
  }
  
  .purple:hover{
    background-color: #8f2280;
  }

 /* EMPIEZA MODAL 3 */
 /* EMPIEZA MODAL 3 */
 /* EMPIEZA MODAL 3 */
  
 .modal_desarrollos{
    width: 100%;
    height: 100%;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms;
    z-index: 900;
  
  }
  
  .modal_desarrollos:target{
    background-color: #CB45B9;
    visibility: visible;
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  
  .popup3{
    margin-top: 50px;
    width: 100%;
    max-width: 1231px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  
  }
  
  
  .service-three-info{
    
    display: flex;
    
    background: #f9f9f9;
    width: 100%;
    height:450px;
    box-shadow: 5.99394px 5.13766px 5.99394px rgba(0, 0, 0, 0.25);
    border-radius: 0px 130.154px 0px 124.16px;
    
    
  
  
  }
  
  .left_list{
    width:40%;
    height: 100%;
    align-self: center;
    left: 0%;
    top: 0;
    padding-left: 100px;
    padding-bottom: 10px;
    
  }

  .left_list li{
    font-size: 18px;
    line-height: 30px;
  }

  .rigth_list{
    
    width:40%;
    height: 100%;
    align-self: center;
    left: 0%;
    top: 0;
    padding-left: 100px;
    padding-bottom: 10px;
    
  }
  .rigth_list ul{
    font-weight: 700;
    font-size: 18px;



  }
  .rigth_list li{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }

 
  .purple1{
  

    right: 0;
    display: block;
    position:absolute;
    width: 300px;
    height: 450px;
    background-color: #CB45B9;
    box-shadow: 5.99394px 5.13766px 5.99394px rgba(0, 0, 0, 0.25);
    border-radius: 0px 130.154px 0px 124.16px;
    color: #ffffff;
  
    padding: 40px 0 0 40px;
  
    
    text-decoration: none;
  }
  
  .btn-close-popup3{
    width: 50px;
    height: 50px;
    position: absolute;
    right: -20px;
    top: -5px;
    
    background: white;
    color:#CB45B9;
    border: 10px solid #CB45B9;
    
    border-radius: 50%;
  
    text-align: center;
    font-size: 20px ;
    font-weight: 700;
    padding-top: 3px;
    
  
  }
  
  /* TERMINA MONDAL 3*/


  .about{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    width: 100%;
    height: 800px;
    
    
   
    padding-bottom: 20px;
    

}

  .circle_big{
    position:relative;
      
    width: 50%;
    
    
    
 
  }

  .circle_big img{
    position:absolute;
    top: 0;
    margin-left: 150px;   
    filter: drop-shadow(-17px -5px 0px rgba(0, 0, 0, 0.1));
  }

  .about-info{
    width: 50%;
    padding-left: 60px;
  }

  .about-info h1{
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
  }

  .about-info p{
    padding-top: 30px;
    font-weight: 300;
    font-size: 20px;
    
  }


  .highlight{
    margin-top: 30px;
    height: 120px;
    background: #68E1FD;
    border-radius: 0px 64.5347px;
   
    
  }

  .highlight h3{
    color: white;
    padding: 15px;
    text-align: center;
    justify-content: center;

    font-weight: 700;
    font-size: 28px;

  }



  /*EMPIEZA SECCIÓN METEDOLOGÍA */
  /*EMPIEZA SECCIÓN METEDOLOGÍA */
  /*EMPIEZA SECCIÓN METEDOLOGÍA */

  .metodologia{
    position: relative;
    width: 100%;
    
    margin-top: 50px;
    

    
   
    
  }

.tabs {
  display: flex;
  flex-wrap: wrap;
  
  justify-content:space-around;
  margin-top: 490px;
  z-index: 800;
}

.tabs__label {
  padding: 10px 10px;
  cursor: pointer;
  margin-top: 20px;
  
  
  
}

.tabs__radio {
  display: none;
}

.tabs__content {
  order: 1;
  width: 100%;
  
  line-height: 1.5;
  font-size: 0.9em;
  display: none;
}

.tabs__radio:checked + .tabs__label .circle-color1{
 fill: #29B4E3;
  
}

.tabs__radio:checked + .tabs__label .circle-color2{
  fill: #F4A800;
   
 }

 .tabs__radio:checked + .tabs__label .circle-color3{
  fill: #F95300;
   
 }

 .tabs__radio:checked + .tabs__label .circle-color4{
  fill: #CB45B9;
   
 }


.tabs__radio:checked + .tabs__label + .tabs__content {
  display: initial;
}


.contenedor-tab-info{
  width: 100%;
  height: 400px;
 
  position:absolute;
  display: flex;
  justify-content:space-between;
  align-items: center;
  top: 0;
  margin-top: 100px;
  
 
 
}

.tab-left-content{
  width: 40%;
  padding-left: 88px;
  
}

.tab-left-content h1{
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  
}

.tab-left-content h3{
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
 
}

.tab-left-content p{
  margin-top: 10px;
  font-weight: 300;
  font-size: 40px;
  line-height: 50px;
}



.tab-right-content img{
  position: relative;
  z-index: 600;

}

.blob1{
position:absolute;
top: 0;

width: 400px;
height: 400px;
border-radius: 86% 14% 66% 34% / 41% 69% 31% 59%;
background-color: #29B4E3;

}

.blob2{
  position:absolute;
  top: 0;
  
  width: 400px;
  height: 400px;
  border-radius:66% 34% 36% 64% / 35% 47% 53% 65% ;
  background-color: #F4A800;
  
  }

  .blob3{
    position:absolute;
    top: 0;
    
    width: 400px;
    height: 400px;
    border-radius:68% 32% 72% 28% / 23% 71% 29% 77% ;
    background-color: #F95300;
    
    }
 .blob3{
    position:absolute;
    top: 0;
    
    width: 400px;
    height: 400px;
    border-radius:68% 32% 72% 28% / 23% 71% 29% 77% ;
    background-color: #F95300;
    
  }
  .blob4{
    position:absolute;
    top: 0;
    
    width: 400px;
    height: 400px;
    border-radius:78% 22% 66% 34% / 24% 73% 27% 76% ;
    background-color: #CB45B9;
    
    }

/*TERMINA SECCIÓN METEDOLOGÍA */
/*TERMINA SECCIÓN METEDOLOGÍA */
/*TERMINA SECCIÓN METEDOLOGÍA */


/*EMPIEZA SECCIÓN CONTACTO */
/*EMPIEZA SECCIÓN CONTACTO */
/*EMPIEZA SECCIÓN CONTACTO */

.contacto{
  display: grid;
  
  justify-items: center;
  align-content: center;

  text-align: center;
  background-color: #29B4E3;
  margin-top: 50px;
  
  height: 800px;
  width: 100%;
  color: #ffffff;
  
}

.contacto h1{
  font-weight: 700;
  font-size: 60px;
  
}

.contacto h3{
  padding-top: 10px;
  font-weight: 300;
  font-size: 30px;
  padding-bottom: 20px;
  

}

.big-btn{
  
  


  display:grid;
 
  position: relative;
  width:300px;
  height:300px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  border: 0px solid #29B4E3;
  color: #2B2B2B;
  font-size: 20px;
  font-weight: 700;
}


.big-btn:hover{
  
  


  background-color: #29B4E3;
  
  border: 60px solid white;
  transition: .4s;
  color: white;

 
}

.contenido-footer{
  margin-top: 50px;
  border-bottom: 1px solid #424949;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 40px;
}

.logo-footer{
  height: 50px;
  padding-top: 5px;

}

.social-media-icons >a >i >svg:hover{
  
  background-color: white;
  border-radius: 15px;
 

}

/*RESPONSIVE*/
/*RESPONSIVE*/
/*RESPONSIVE*/

@media screen and (max-width:1040px){
  .contenedor{
    width:90%;
    padding: 30px;
  }

  #inicio h1{
    font-size: 30px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 1px;
    margin-bottom: 10px;

  }

  #inicio .row-color-one{
    width: 50%;
    height: 60px;
    

  }

  #inicio .row-color-two{
    width: 60%;
    height: 60px;
    

  }
.contenedor-servicio{
  justify-content:center;
}

.services{
  height: 70%;
}
.service-one, .service-two, .service-three{
  height: 20%;
}

 .orange, .yellow, .purple{
    width: 200px;
    margin: 0 10px 0 10px;
    border-radius: 0px 80px 0px 80px;
  }
.modales{
  width: 100vw;
}

.popup1, .popup2, .popup3{
  width: 90vw;

}

.orange1, .yellow1, .purple1{
  width: 15em;
  border-radius: 0px 80px 0px 80px;
}

.yellow1{
left: 310px;
}

.service-two-info .left_text{
  width: 25vw;
  font-size: 20px;

}

.service-two-info .right_text{
  width: 293px;
}
  .circle svg{
    width: 80px;
  }

.service-three-info .left_list{
  padding-left: 40px;

}

.service-three-info .rigth_list{
  width: 30%;
  padding-left: 5px ;

}
  .contenedor-servicio h2{
    font-size: 20px;
  }

  .about{
    height: 10%;
  }
  .about .circle_big svg{
    width: 80%;
  }

  .about .circle_big img{
    width: 100%;
    margin-left: 29px;
  }

  .about .highlight h3{
    font-size: 20px;

  }

  .metodologia{
    padding-top: 0;

  }

  .metodologia .contenedor-tab-info, .tab-left-content{
    width: 100%;
    padding: 20px;
    margin-top: 0;
    
  }

  

  .contenedor-tab-info .tab-right-content{
    display: none;

  }

  .tabs{
    padding-top: 50px;
  }
  
  .social-media-icons >a >i >svg:focus{
  
    background-color: white;
    border-radius: 15px;
   
  
  }

}


@media screen and (max-width:800px){
  .contenedor-servicio{
    justify-content:center;
  }
  
  .services{
    width: 100%;
  }
  .service-one, .service-two, .service-three{
    height: 20%;
    
  }
  
   .orange, .yellow, .purple{
      width: 200px;
      margin: 0 10px 0 10px;
      border-radius: 0px 80px 0px 80px;
    }
  .modales{
    width: 100vw;
  }
  
  .popup1, .popup2, .popup3{
    width: 80vw;
  
  }
  
  .orange1, .yellow1, .purple1{
    width: 15em;
    border-radius: 0px 80px 0px 80px;
  }
  
  .yellow1{
  left: 310px;
  }

.service-one-info {
  justify-content: left;
  padding: 0 0 0 255px;
  
  

}
  
  .service-one-info .list h2{
    font-size: 25px;
   
  }

  .service-one-info ul{
    
    font-size: 12px;
    line-height: 20px;
    margin-top: 354px;
   
  }
  .service-two-info .left_text{
    width: 25vw;
    font-size: 20px;
  
  }
  
  .service-two-info .right_text{
    width: 293px;
  }
    .circle svg{
      width: 80px;
    }
  
  .service-three-info .left_list{
    padding-left: 40px;
  
  }
  
  .service-three-info .rigth_list{
    width: 30%;
    padding-left: 5px ;
  
  }

  
  .tabs{
    margin-top: 45%;
  }
}